@{
    ViewData["Title"] = "Home Page";
}

<div id="paginaInicial" class="text-center">   
    <h1>Saiba mais <a href="https://luizmarcelolm.github.io/Portfolio/">Conheça meu portifólio</a></h1>
</div>
