@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Caculadora de piso online</h1>
    <p>Saiba mais <a href="https://luizmarcelolm.github.io/Portfolio/">Conheça meu portifólio</a>.</p>
</div>
