html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    background-image:url(/fundo1.jpg);
    background-position-x: center;
}

#box2 {
    width: 200px;
    height: 40px;
    border-radius: 10px;
}

#box1 {
    width: 200px;
    height: 32px;
    border-radius: 10px;
    opacity: 0.6;
}

#box {
    width: 100px;
    height: 32px;
    border-radius: 10px;
    opacity: 0.6;
}

footer {
    position: fixed;
    bottom: 0;
    opacity: 0.4;
}

table {
    border-radius:25px;
    background: rgba(240, 248, 255, 0.6);
}

look {
    border-radius: 25px;
    background: rgba(240, 248, 255, 0.6);
}

#information {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#index {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#paginaInicial {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: brown;
    margin-top: 35%;
}

header {
    font-weight: bold;
    opacity: 0.8;
    color: brown;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    opacity: 0.5;
    color: brown;
}

#verificar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size:16px;
}

