@model Piso


<div class="text-center">

    <h1 class="display-4">Editar medidas</h1>

</div>

<form asp-controller="Piso" asp-action="Edit" method="post" >

    <input type ="hidden" asp-for="Id" />

    <div class="form-group text-center">
        <label for="Local">Local</label><br />
        <input type="text" asp-for="Local" class="text-center" id="box1" required>
    </div>

    <div class="form-group text-center">
        <label for="Áreas">Medida da área em metros</label><br />
        <input type="number" asp-for="Area1" class="text-center" id="box" required>
        <input type="number" asp-for="Area2" class="text-center" id="box" required>
    </div>    

    <div class="form-group text-center">
        <label for="Piso">Medida do piso em metros</label><br />
        <input type="number" asp-for="Piso1" class="text-center" id="box" required>
        <input type="number" asp-for="Piso2" class="text-center" id="box" required>
    </div>

    <div class="form-group text-center">
        <button type="submit" class="btn btn-outline-success" id="box2">Alterar</button><br /><br />
        <a class="btn btn-outline-primary" asp-controller="Piso" asp-action="Index" role="button" id="box2">Voltar</a>
    </div>
</form>
