@model Piso


<div class="text-center">

    <h1 class="display-4">Editar contato</h1>

</div>

<form asp-controller="Piso" asp-action="Edit" method="post" >

    <input type ="hidden" asp-for="Id" />

    <div class="form-group">
        <label for="Local">Local</label>
        <input type="text" asp-for="Local" class="form-control" placeholder="Local da instalação">    
    </div>

     <div class="form-group">
     <label for="Area1">Área 1</label>
        <input type="number" asp-for="Area1" class="form-control" placeholder="Medida área 1">
    </div>

    <div class="form-group">
        <label for="Area2">Área 2</label>
        <input type="number" asp-for="Area2" class="form-control" placeholder="Medida área 2">
    </div>

    <div class="form-group">
        <label for="Piso1">Piso 1</label>
        <input type="number" asp-for="Piso1" class="form-control" placeholder="Medida piso 1">
    </div>

    <div class="form-group">
        <label for="Piso2">Piso 2</label>
        <input type="number" asp-for="Piso2" class="form-control" placeholder="Medida piso 2">
    </div>

    <br />

    <button type="submit" class="btn btn-outline-success">Alterar</button>
    <a class="btn btn-outline-primary" asp-controller="Piso" asp-action="Index" role="button">Voltar</a>
</form>
