@model Piso


<div class="text-center">

    <h1 class="display-4">Editar medidas</h1>

</div>

<form asp-controller="Piso" asp-action="Edit" method="post" >

    <input type ="hidden" asp-for="Id" />

    <div class="form-group text-center">
        <label for="Local">Local</label><br />
        <input type="text" asp-for="Local" class="text-center">    
    </div><br />

    <div class="form-group text-center">
        <label for="Áreas">Medida da área em metros</label><br />
        <input type="number" asp-for="Area1" class="text-center">
        <input type="number" asp-for="Area2" class="text-center">
    </div><br />

    

    <div class="form-group text-center">
        <label for="Piso">Medida do piso em metros</label><br />
        <input type="number" asp-for="Piso1" class="text-center">
        <input type="number" asp-for="Piso2" class="text-center">
    </div>
    <br />

    <div class="form-group text-center">
    <button type="submit" class="btn btn-outline-success">Alterar</button>
    <a class="btn btn-outline-primary" asp-controller="Piso" asp-action="Index" role="button">Voltar</a>
    </div>
</form>
