@model Piso

<div>
    
    <h1 class="text-center">Como calcular?</h1><br />

    <p class="text-center">  O primeiro passo é saber a área do seu cômodo.</p>
    <p class="text-center">  Comece medindo o comprimento e a largura do ambiente que será reformado.</p>
    <p class="text-center">  Encontrou esses valores? Agora você deve multiplicar o comprimento pela largura para encontrar a área total da área.</p>
    <p class="text-center">  Por exemplo, um cômodo com 12 mts de comprimento e 10 mts de largura. Dessa forma, nossa conta fica assim:</p>
    <p class="text-center">  Área = comprimento * largura</p>
    <p class="text-center">  Área = 12 * 10</p>
    <p class="text-center">  Área = 120 mts²</p>
    <p class="text-center">  Agora, você deve acrescentar 10% a esse valor para cobrir perdas e recortes.</p>
    <p class="text-center">  Além de garantir uma pequena sobra para eventuais reparos que possam ser necessários no futuro. Fica assim:</p>
    <p class="text-center">  Área com + 10% = ((Área * 10)/100) + Área</p>
    <p class="text-center">  Área com + 10% = ((120 * 10)/100) + 120 = 132 mts²</p>
    <p class="text-center">  Para saber a quantidade de pisos necessários o cálculo deve ser feito dessa forma:</p>
    <p class="text-center">  Área do piso = comprimento * largura</p>
    <p class="text-center">  Área do piso = 30cm * 30cm</p>
    <p class="text-center">  Área do piso = 900cm convertertendo em mts 900/100 = 9mts²</p>
    <p class="text-center">  Quantidade de pisos necessários = Área com + 10%  / área do piso</p>
    <p class="text-center">  Quantidade de pisos necessários = 132 / 9</p>
    <p class="text-center">  Quantidade de caixas de pisos = 1466</p>
    <p class="text-center">  Se o seu resultado não der um número inteiro, não se preocupe! Basta arredondar.</p>
    <p class="text-center">  No exemplo dado, o número de caixas necessárias para revestir o piso é igual a 1466 peças</p><br />
    <p class="text-center"></p><br />
</div>






